.abgne-menu-20140101-2 input[type="radio"] {
    padding: 30px;
   display: none;
   padding-top: 30px;
}
.abgne-menu-20140101-2 input[type="radio"] + label {
   display: inline-block;
   background-color:#a8bfda;
   cursor: pointer;
   padding: 15px 25px;


}
.abgne-menu-20140101-2 input[type="radio"]:checked + label {
   background-color:#4e5d6d;
   color: #fff;

}
.aa{
   background-color: #ffffff00;
}
.size{
height: 80px;
widows: 100px;
}


* {
margin: 0;
padding: 0;
border: 0;
outline: 0
}

ul,
li {
list-style: none;
}

a {
text-decoration: none;
}

a:hover {
cursor: pointer;
text-decoration: none;
}

a:link {
text-decoration: none;
}

img {
vertical-align: middle;
}

.btn-numbox {
overflow: hidden;
margin-top: 20px;
padding-left: 680px;
}

.btn-numbox li {
float: left;
}

.btn-numbox li .number,
.kucun {
display: inline-block;
font-size: 12px;
color: #000000;
vertical-align: sub;
}

.btn-numbox .count {
overflow: hidden;
margin: 0 16px 0 -20px;
}

.btn-numbox .count .num-jian,
.input-num,
.num-jia {
display: inline-block;
width: 40px;
height: 30px;
line-height: 40px;
text-align: center;
font-size: 25px;
color: rgb(255, 255, 255);
background-color:#a8bfda;
cursor: pointer;
border: 1px solid #e6e6e6;
padding: 10px;
}
.btn-numbox .count .input-num {
width: 58px;
height: 30px;
color: #4e5d6d;
border-left: 0;
border-right: 0;
padding: 10px;
}
.img{
height: 100px;
width: 120px;
}





.abgne-menu-20140101-2 input[type="radio"] {
padding: 30px;
display: none;
padding-top: 30px;
}
.abgne-menu-20140101-2 input[type="radio"] + label {
display: inline-block;
background-color:#a8bfda;
cursor: pointer;
padding: 15px 25px;


}
.abgne-menu-20140101-2 input[type="radio"]:checked + label {
background-color:#4e5d6d;
color: #fff;

}
.aa{
background-color: #ffffff00;
}
.size{
height: 80px;
widows: 100px;
}


　　　　　　* {
margin: 0;
padding: 0;
border: 0;
outline: 0
}

ul,
li {
list-style: none;
}

a {
text-decoration: none;
}

a:hover {
cursor: pointer;
text-decoration: none;
}

a:link {
text-decoration: none;
}

img {
vertical-align: middle;
}

.btn-numbox {
overflow: hidden;
margin-top: 20px;
padding-left: 680px;
}

.btn-numbox li {
float: left;
}

.btn-numbox li .number,
.kucun {
display: inline-block;
font-size: 12px;
color: #000000;
vertical-align: sub;
}

.btn-numbox .count {
overflow: hidden;
margin: 0 16px 0 -20px;
}

.btn-numbox .count .num-jian,
.input-num,
.num-jia {
display: inline-block;
width: 40px;
height: 30px;
line-height: 40px;
text-align: center;
font-size: 25px;
color: rgb(255, 255, 255);
background-color:#a8bfda;
cursor: pointer;
border: 1px solid #e6e6e6;
padding: 10px;
}
.btn-numbox .count .input-num {
width: 58px;
height: 30px;
color: #4e5d6d;
border-left: 0;
border-right: 0;
padding: 10px;
}
.img{
height: 100px;
width: 120px;
}